ffmpy==0.3.0
gradio==4.31.3
matplotlib==3.6.3
numpy==1.23.5
opencv_python==4.8.1.78
Pillow==10.3.0
PyYAML==6.0
scikit_image==0.19.3
scipy==1.10.1
scikit-image==0.19.3
tensorboardX==2.6
timm==0.6.12
torch==2.2.0
torchvision==0.14.1
tqdm==4.66.3
orjson>=3.9.15 # not directly required, pinned by Snyk to avoid a vulnerability
aiohttp>=3.10.2 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
fastapi>=0.109.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
