#appheading {
    font-size: 135%;
    margin-bottom: -10;
}

#tabheading {
    font-size: 115%;
    margin-bottom: -10;
}

:root {
    --frame-chooser-action: #008542;
    --main-output-highlight: #ee7400;
}

#sideimage {
    opacity: 0.75;
    /*filter: grayscale(100%);*/
}

#mainimage {
    filter: drop-shadow(0px 0px 17px var(--frame-chooser-action));
}

#mainoutput {
    filter: drop-shadow(0px 0px 17px var(--main-output-highlight));
}

#actionbutton {
    background: #008542;
    border: #008542;
}

#restartbutton {
    background: blueviolet;
    border: blueviolet;
}

#linkcontainer {
    background: #492900 !important;
    display: flex;
    justify-content: left;
    align-items: center;
}

#linkcontainer2 {
    background: #5D4300 !important;
    display: flex;
    justify-content: left;
    align-items: center;
}

#linkitem {
    margin: unset;
    font-size: large;
    font-weight: bold;
}

footer {
    display: none !important;
}

#footer{
    text-align: center;
}

#footer div{
    display: inline-block;
}

#footer .versions{
    font-size: 85%;
    opacity: 0.85;
}
